.transaction-table {
  border-collapse: collapse;
}

.transaction-table th,
.transaction-table td {
  padding: 8px;
  border: 1px solid #2a2a2a;
}

.title__link {
  display: inline-flex;
  margin-left: 40px;
}

.wrapper {
  padding: 40px 10px;
}

.styled-btn {
  background-color: red;
  color: white;
  front-family: Arial, Helvetica;
  sans-serif;
}
